<% include ../partials/header %>
<div class="container">
    <div class="row" style="margin-top:70px;">
        <div class="col-md-8">
            <div class="thumbnail">
                <img class="img-responsive" src="<%=landscape.image%>"></img>
                <div class="caption">
                     <h4><%=landscape.name%></h4>
                     <p><%=landscape.description%></p>   
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>